{% extends 'EmaRgementBundle::layout.html.twig' %}

{% block content %}
    <h1 class="page-header" ><i class="fa fa-fw fa-check"></i><i class="fa fa-fw fa-calendar-o"></i>Justifier d'une absence</h1>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <!--<div class="panel-heading">

                </div>-->
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <form>
                        <div class="form-group">
                            <label for="student">Etudiant</label>
                            <input id="student" class="form-control" list="students">
                            <datalist id="students">
                                <option value="GODINEZ Pablo" />
                                <option value="HALLER Florian" />
                                <option value="SANCHEZ Yohan" />
                                <option value="SEITZ Valentin" />
                                <option value="SIMON Matthieu" />
                            </datalist> 
                            <p class="help-block">Selectionner l'étudiant qui était absent</p>
                        </div>
                        <div class="form-group">
                            <label for="" >Absences non justifiées</label>
                            <div class="checkbox">
                                <label>
                                    <input value="" type="checkbox">Cours de {matière} le 12/10/2014 de 09h00 à 12h00
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input value="" type="checkbox">Cours de {matière} le 12/10/2014 de 13h30 à 17h45
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="start_date">Date de début</label>
                            <input id="start_date" class="form-control" type="date">
                            <p class="help-block">Date de début de l'absence</p>
                            <label for="start_time">Heure de début</label>
                            <input id="start_time" class="form-control" type="time">
                            <p class="help-block">Heure de début de l'absence</p>
                        </div>
                        <div class="form-group">
                            <label for="end_date">Date de fin</label>
                            <input id="end_date" class="form-control" type="date">
                            <p class="help-block">Date de fin de l'absence</p>
                            <label for="end_time">Heure de fin</label>
                            <input id="end_time" class="form-control" type="time">
                            <p class="help-block">Heure de fin de l'absence</p>
                        </div>
                        <div class="form-group">
                            <label for="justification_files" >Justificatif</label>
                            <input id="justification_files" type="file">
                        </div>
                        <div class="btn-group pull-right">
                            <button type="submit" class="btn btn-success">Enregistrer</button>
                            <button type="reset" class="btn btn-danger">Annuler</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
