{% extends 'EmaRgementBundle::layout.html.twig' %}
{% block content %}
    <h1 class="page-header">Tableau de bord</h1>
    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-fw fa-calendar-o"></i> Absences a traiter
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="list-group">
                        <a href="#" class="list-group-item">
                            <i class="fa fa-fw fa-exclamation-circle"></i> NOM Prenom - JAVA AVANCE
                            <span class="pull-right text-muted small"><em>jeu 9 oct. 9h-12h</em>
                            </span>
                        </a>
                        <a href="#" class="list-group-item">
                            <i class="fa fa-fw fa-exclamation-circle"></i> NOM Prenom - JAVA AVANCE
                            <span class="pull-right text-muted small"><em>jeu 9 oct. 9h-12h</em>
                            </span>
                        </a>
                        <a href="#" class="list-group-item">
                            <i class="fa fa-fw fa-exclamation-circle"></i> NOM Prenom - JAVA AVANCE
                            <span class="pull-right text-muted small"><em>jeu 9 oct. 9h-12h</em>
                            </span>
                        </a>
                        <a href="#" class="list-group-item">
                            <i class="fa fa-fw fa-exclamation-circle"></i> NOM Prenom - DEV.PERSONNEL
                            <span class="pull-right text-muted small"><em>jeu 9 oct. 13h15-16h45</em>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-fw fa-clock-o"></i> Retards a traiter
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="list-group">
                        <a href="#" class="list-group-item">
                            <i class="fa fa-exclamation fa-fw"></i> 20min NOM Prenom - DEV.PERSONNEL
                            <span class="pull-right text-muted small"><em>jeu 9 oct. 13h15-16h45</em></span>
                        </a>
                        <a href="#" class="list-group-item">
                            <i class="fa fa-exclamation fa-fw"></i> 21min NOM Prenom - DEV.PERSONNEL
                            <span class="pull-right text-muted small"><em>jeu 9 oct. 13h15-16h45</em></span>
                        </a>
                        <a href="#" class="list-group-item">
                            <i class="fa fa-exclamation fa-fw"></i> 21min NOM Prenom - DEV.PERSONNEL
                            <span class="pull-right text-muted small"><em>jeu 9 oct. 13h15-16h45</em></span>
                        </a>
                        <a href="#" class="list-group-item">
                            <i class="fa fa-exclamation fa-fw"></i> 40min NOM Prenom - DEV.PERSONNEL
                            <span class="pull-right text-muted small"><em>jeu 9 oct. 13h15-16h45</em></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6">
            <div class="panel panel-red">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-5x fa-exclamation-circle"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">Fort taux de retard</div>
                            <div>DEV.PERSONNEL</div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer">
                        <span class="pull-left">Voir les détails</span>
                        <span class="pull-right"><i class="fa fa-fw fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-6 col-md-6">
            <div class="panel panel-red">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-5x fa-exclamation-circle"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">Fausse signature détectée</div>
                            <div>Clément SANCHEZ - MATH - Mardi 14.Oct 9h-12h15</div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer">
                        <span class="pull-left">Voir les détails</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
