{% extends 'EmaRgementBundle::layout.html.twig' %}

{% block content %}
<div class="input-group date">
    <input type="text" class="form-control"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
</div>
<div id="example_wrapper" class="dataTables_wrapper">
    <div class="dataTables_length" id="example_length">
        <label>Show
            <select name="example_length" aria-controls="example" class="">
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select> entries
        </label>
    </div>
    <div id="example_filter" class="dataTables_filter">
        <label>Search:
            <input type="search" class="" placeholder="" aria-controls="example">
        </label>
    </div>
    <table width="100%" cellspacing="0" class="display nowrap dataTable dtr-inline" id="example" role="grid" aria-describedby="example_info" style="width: 100%;">
        <thead>
            <tr role="row">
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Age</th>
                <th>Start date</th>
                <th>Salary</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Age</th>
                <th>Start date</th>
                <th>Salary</th>
            </tr>
        </tfoot>
        <tbody>
            <tr role="row" class="odd">
                <td>Airi Satou</td>
                <td>Accountant</td>
                <td>Tokyo</td>
                <td>33</td>
                <td>2008/11/28</td>
                <td>$162,700</td>
            </tr>
            <tr role="row" class="even">
                <td>Angelica Ramos</td>
                <td>Chief Executive Officer (CEO)</td>
                <td>London</td>
                <td>47</td>
                <td>2009/10/09</td>
                <td>$1,200,000</td>
            </tr>
            <tr role="row" class="odd">
                <td>Ashton Cox</td>
                <td>Junior Technical Author</td>
                <td>San Francisco</td>
                <td>66</td>
                <td>2009/01/12</td>
                <td>$86,000</td>
            </tr>
            <tr role="row" class="even">
                <td>Bradley Greer</td>
                <td>Software Engineer</td>
                <td>London</td>
                <td>41</td>
                <td>2012/10/13</td>
                <td>$132,000</td>
            </tr>
            <tr role="row" class="odd">
                <td>Brenden Wagner</td>
                <td>Software Engineer</td>
                <td>San Francisco</td>
                <td>28</td>
                <td>2011/06/07</td>
                <td>$206,850</td>
            </tr>
            <tr role="row" class="even">
                <td>Brielle Williamson</td>
                <td>Integration Specialist</td>
                <td>New York</td>
                <td>61</td>
                <td>2012/12/02</td>
                <td>$372,000</td>
            </tr>
            <tr role="row" class="odd">
                <td>Bruno Nash</td>
                <td>Software Engineer</td>
                <td>London</td>
                <td>38</td>
                <td>2011/05/03</td>
                <td>$163,500</td>
            </tr>
        </tbody>
    </table>
    <div class="dataTables_info" id="example_info" role="status" aria-live="polite">
        Showing 1 to 10 of 57 entries
    </div>
    <div class="dataTables_paginate paging_simple_numbers" id="example_paginate">
        <a class="paginate_button previous disabled" aria-controls="example" data-dt-idx="0" tabindex="0" id="example_previous">
            Previous
        </a>
        <span>
            <a class="paginate_button current" aria-controls="example" data-dt-idx="1" tabindex="0">1</a>
            <a class="paginate_button " aria-controls="example" data-dt-idx="2" tabindex="0">2</a>
            <a class="paginate_button " aria-controls="example" data-dt-idx="3" tabindex="0">3</a>
            <a class="paginate_button " aria-controls="example" data-dt-idx="4" tabindex="0">4</a>
            <a class="paginate_button " aria-controls="example" data-dt-idx="5" tabindex="0">5</a>
            <a class="paginate_button " aria-controls="example" data-dt-idx="6" tabindex="0">6</a>
        </span>
        <a class="paginate_button next" aria-controls="example" data-dt-idx="7" tabindex="0" id="example_next">
            Next
        </a>
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script src="{{ asset('bundles/emargement/js/views/Default/example.js') }}"></script>
{% endblock %}