{% extends 'EmaRgementBundle::layout.html.twig' %}

{% block content %}
    <ul>
        <li>
            <div>  
                <span> Aujourd'hui </span>
            </div>
            <ul>
                <li> Rapport du cours de DEV. PERSO. du 14/08/2014 disponible </li>
                <li> Rapport du cours de GESTION DU STRESS du 14/08/2014 disponible </li>
            </ul>
        </li>
    </ul>
{% endblock %}
