{% block body_text %}
{% endblock %}
{% block html %}
<html>
    <head>
    {% block head_html %}{% endblock %}
    </head>
    <body>
    {% block body_html %}{% endblock %}
    </body>
</html>
{% endblock %}