{% extends 'EmaRgementBundle::layout.html.twig' %}

{% block content %}
    <h1 class="page-header"><i class="fa fa-fw fa-bar-chart-o"></i>Statistiques des retards et absences</h1>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <i class="fa fa-fw fa-filter"></i> Filtrer
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="form-group">
                        <label for="promo">Promotion</label>
                        <input id="promo" class="form-control" list="promos">
                        <datalist id="promos">
                            <option value="INFRES 5" />
                            <option value="INFRES 6" />
                            <option value="INFRES 7" />
                        </datalist>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-fw fa-dot-circle-o"></i> Fréquence
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="list-group">
                        <a href="{{ path('ema_rgement_stats_frequency_absence') }}" class="list-group-item">
                            <i class="fa fa-fw fa-calendar-o"></i> Absences
                            <span class="pull-right text-muted small"><em></em></span>
                        </a>
                        <a href="{{ path('ema_rgement_stats_frequency_delay') }}" class="list-group-item">
                            <i class="fa fa-fw fa-clock-o"></i> Retards
                            <span class="pull-right text-muted small"><em></em></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-fw fa-plus-circle"></i> Cumul
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="list-group">
                        <a href="{{ path('ema_rgement_stats_accumulation_absence') }}" class="list-group-item">
                            <i class="fa fa-fw fa-calendar-o"></i> Absences
                            <span class="pull-right text-muted small"><em></em></span>
                        </a>
                        <a href="{{ path('ema_rgement_stats_accumulation_delay') }}" class="list-group-item">
                            <i class="fa fa-fw fa-clock-o"></i> Retards
                            <span class="pull-right text-muted small"><em></em></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
