{% extends "::base.html.twig" %}

{% block title %}EmaRgementBundle:Admin:ajaxSynchronizeStudentsAndPromos{% endblock %}

{% block body %}
<h1>Welcome to the Admin:ajaxSynchronizeStudentsAndPromos page</h1>
{% endblock %}
