{% extends 'EmaRgementBundle::layout.html.twig' %}

{% block title %}Cumul des retards{% endblock %}

{% block content %}
    
    <h1 class="page-header"><i class="fa fa-fw fa-plus-circle"></i><i class="fa fa-fw fa-clock-o"></i>INFRES 5 : Cumul des retards</h1>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <i class="fa fa-fw fa-filter"></i> Filtrer
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="form-group">
                        <label for="group">Groupe</label>
                        <input id="group" class="form-control" list="groups">
                        <datalist id="groups">
                            <option value="ED" />
                            <option value="SR" />
                        </datalist>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Prénom</th>
                            <th>Cumul</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Eliasz</td>
                            <td>Laurent</td>
                            <td>15 minutes</td>
                        </tr>
                        <tr>
                            <td>Simon</td>
                            <td>Matthier</td>
                            <td>10 minutes</td>
                        </tr>
                        <tr>
                            <td>Sanchez</td>
                            <td>Yohan</td>
                            <td>35 minutes</td>
                        </tr>
                        <tr>
                            <td>Seitz</td>
                            <td>Valentin</td>
                            <td>7 minutes</td>
                        </tr>
                        <tr>
                            <td>Godinez</td>
                            <td>Pablo</td>
                            <td>4 minutes</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Promotion</th>
                            <th>Cumul</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>INFRES 5</td>
                            <td>1,40 heures</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
